/output
/img
/bin
/doc
/Linux-CentOS_7-gcc_4.8-x86_64
/tmva/tree_converter/bin
/tmva/tree_converter/output
/tmva/output
/tmva/plots
/tmva/weights
/customplotting/bin
/customplotting/output
/customplotting/particle_gun/bin
/customplotting/particle_gun/output
/customplotting/cc1pi/bin
/customplotting/cc1pi/output
/customplotting/existing_selection/bin
/customplotting/existing_selection/output
/customplotting/existing_selection_noposmult/bin
/customplotting/existing_selection_noposmult/output
/customplotting/real_data/bin
/customplotting/real_data/output
/customplotting/real_data_exsel/bin
/customplotting/real_data_exsel/output
/scripts/log
/scripts/batch/run5
/scripts/batch/run6
/scripts/batch/run7
/scripts/batch/run9
/scripts/batch/existing_selection/run5
/scripts/batch/existing_selection/run6
/scripts/batch/existing_selection/run7
/scripts/batch/existing_selection/run9
/fileList/run5
/fileList/run6
/fileList/run7
/fileList/run9
/parameters/weights
